* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: #444444;
}

a {
  text-decoration: none !important;
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
ul,
li {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  width: 30px;
}

.section {
  margin: 24px 0;
}

.section ~ .section {
  margin: 0 0 24px;
}